{% extends 'base.html.twig' %}

{% block body %}
<style>
    .homeStatsContainer {
        display:flex;
        flex-direction: row;
        justify-content: center;
    }
</style>


    {{ render(controller('App\\Controller\\PostDisplayController::lastFive')) }}
    <div class="homeStatsContainer">
        {{ render(controller('App\\Controller\\StatsController::displayLeaderBoard')) }}
    </div>
    {{ render(controller('App\\Controller\\PostDisplayController::displayRandomPost')) }}
{% endblock %}
