{% extends 'base.html.twig' %}

{% block body %}
{# Style #}
<style>
    .homeStatsContainer {
        display:flex;
        flex-direction: row;
        justify-content: center;
    }

    .welcomeSlogan {
        text-align:center;
        width: 8em;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2em;
        font-family: var(--logo-font);
        font-size: 1em;
    }

</style>

{# Home page #}
{% include 'search/searchbar.html.twig' %}

<div class="welcomeSlogan">
    <p>share code 🎉</p>
</div>

{{ render(controller('App\\Controller\\PostController::lastFive')) }}
<div class="homeStatsContainer">
    {{ render(controller('App\\Controller\\StatsController::displayLeaderBoard')) }}
</div>
{{ render(controller('App\\Controller\\PostController::displayRandomPost')) }}
{% endblock %}
