{% extends 'base.html.twig' %}

{% block body %}

{# Style #}
<style>
    .homeStatsContainer {
        display:flex;
        flex-direction: row;
        justify-content: center;
    }

    .welcomeSlogan {
        text-align:center;
        width: 10em;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2em;
        font-family: var(--logo-font);
        font-size: 2em;
    }

</style>

{# Home page #}
{% include 'search/searchbar.html.twig' %}

{# Slogan #}
<div class="welcomeSlogan">
    <pre></code>{ share code 🎉 }</code></pre>
</div>

{# Latests posts #}
{{ render(controller('App\\Controller\\PostController::lastFive')) }}

{# Leader Board #}
<div class="homeStatsContainer">
    {{ render(controller('App\\Controller\\StatsController::displayLeaderBoard')) }}
</div>

{# A random post #}
{{ render(controller('App\\Controller\\PostController::displayRandomPost')) }}

{% endblock %}
