{% block search %}
<style>
    .search {
        text-align: center;
        margin-right: 1em;
        margin-top: 1em;
    }

    .search input {
        color: white;
        font-size: 1em;
        background: transparent;
        padding: 1em;
        border:none;
        padding: 10px;
        margin-top: 1em;
    }

    .search button {
        color: white;
        font-size: 1em;
        background: transparent;
        padding: 0.5em;
        border:none;
        cursor: pointer;
        margin-left: 2em;
        font-family:monospace;
        transition: 0.2s;
    }

    .search button:hover {
     transform: scale(1.7);
    }
    
    .searchZone {
      border-bottom: 1px solid white;
      width:18em;
      margin-right: auto;
      margin-left: auto;
    }

    .searchIcon {
        width: 30px;
    }
</style>
<form class="search" action={{ path('post_search') }} method="get">
    <div class="searchZone">
      <input placeholder="" name="say" id="say">
      <button><img class="searchIcon" src="https://svg-clipart.com/svg/white/HaPBSoz-search-icon-white-vector.svg"></button>
    </div>
</form>
{% endblock %}