{% block search %}
<style>
    .search {
        text-align: center;
        margin-right: 1em;
        margin-top: 1em;
    }

    .search input {
        color: white;
        font-size: 1em;
        background: transparent;
        margin-top: 1em;
        margin-bottom: 1em;
        padding: 0.5em;
        border:none;
        border-bottom: 1px solid white;
    }

    .search button {
        color: white;
        font-size: 1em;
        background: transparent;
        margin-top: 1em;
        margin-bottom: 1em;
        padding: 0.5em;
        border:none;
        cursor: pointer;
        margin-left: 2em;
        font-family:monospace;
        border: 1px solid white;
    }
</style>
<form class="search" action={{ path('post_search') }} method="get">
  <div>
    <input placeholder="ðŸ”" name="say" id="say"><button>search</button>
  </div>
</form>
{% endblock %}