<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}6gang{% endblock %}</title>
        <link rel="icon" href="{{ asset('favicon.ico') }}" />
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <style>
        .footerPlaceHolder {
        background: rgb(5,14,34);
        background: linear-gradient(180deg, rgba(5,14,34,1) 0%, rgba(0,0,0,1) 100%);
        height: 100vh;
        }
        </style>
        {# Navigation #}
        {{ render(controller('App\\Controller\\NavigationBarController::index'))}}

        {# Body #}
        {% block body %}{% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

        {# Footer #}
        <div class="footerPlaceHolder"></div>
    </body>
</html>
