{% block nav %}
    {# NavBar Style #}
    <style>

        .logoContainer {
            padding: 0;
            position: -webkit-sticky;
            position: fixed;
            top: 10px;
        }

        .logoContainer li {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        .linkContainer {
            padding: 0;
            padding-left: 3em;
            line-height: 2em;
            font-family: var(--logo-font);
        }

        .linkContainer a {
            color: white;
            text-decoration: none;
        }

        .homeLogo {
            font-family: var(--logo-font);
            font-size: 2.5em;
            padding-left: 0.2em;
            margin: 0;
        }

        .logo {
            color: white;
            text-decoration: none;
        }
        .intra {
            font-family: monospace;
            font-size: 16px;
            border: 1px solid white;
        }

        .navStamps {
            width: 40%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin: 2em;
        }

        .navStamp {
            background-color: white;
            color: black;
            font-family: monospace;
            border-radius: 5px;
            padding: 0.5em;
            margin: 0.2em;
        }


    </style>

    {# Logo #}
    <div class="logoContainer">
        <a class="logo" href={{ path('home')}}>
            <h1 class="homeLogo">6gang<span class="intra">intra</span></h1>
        </a>
        <ul class="linkContainer">
            <li>connect</li>
            <li><a href="/posts">posts</a></li>
            <li>news</li>
            <li>stats</li>
            <li>doc</li>
        </ul>
        <div class="navStamps">
            {% for category in categories %}
                <a class="navStamp">{{ category.name }}</a>
            {% endfor %}
        </div>
    </div>
{% endblock %}
