{% block nav %}
    {# NavBar Style #}
    <style>

        .logoContainer {
            padding: 0;
            position: -webkit-sticky;
            position: fixed;
            top: 10px;
        }

        .logoContainer li {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        .linkContainer {
            padding: 0;
            padding-left: 1em;
            line-height: 2em;
            font-family: var(--logo-font);
        }

        .linkContainer a {
            color: white;
            text-decoration: none;
        }

        .homeLogo {
            font-family: var(--logo-font);
            font-size: 2.5em;
            padding-left: 0.3em;
            margin: 0;
        }

        .logo {
            color: white;
            text-decoration: none;
        }
        
        .intra {
            font-family: monospace;
            font-size: 16px;
            border: 1px solid white;
        }

        .navStamps {
            position: fixed;
            width: 10em;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin: 1em;
            margin-left: 1em;
            align-content: end;
            opacity: 10%;
            transition: 0.2s;
            transform: rotate(-2deg);
        }

        .navStamps:hover {
            opacity: 90%;
        }

        .navStamp {
            background-color: white;
            color: black;
            font-family: monospace;
            border-radius: 5px;
            padding: 0.5em;
            margin: 0.2em;
            font-size: 0.9em;
            opacity: 50%;
            transition: 0.2s;
        }

        .navStamp:hover {
            opacity: 100%;
        }

        .write {
            font-size: 1.2em;
        }

        .questionHelp {
            position: fixed;
            color: black;
            right: 2em;
            bottom: 2em;
            width: 50px;
            height: 50px;
            background: black;
            padding: 0.1em;
            font-size: 1em;
            text-align: center;
            opacity: 20%;
            transition: 0.2s;
        }   

        .questionHelp:hover {
            opacity: 100%;
            cursor: pointer;
        }


    </style>

    {# Logo #}
    <div class="logoContainer">
        <a class="logo" href={{ path('home')}}>
            <h1 class="homeLogo">6gang<span class="intra">intra</span></h1>
        </a>
        <ul class="linkContainer">
            <li><a href="/">home</a></li>
            <li><a href="/posts">posts</a></li>
            <li class="write"><a href={{ path('post_new')}}>✍️</a></li>
        </ul>
        <div class="navStamps">
            {% for category in categories %}
                <a class="navStamp" href='/posts/category/{{ category.name }}'>{{ category.name }}</a>
            {% endfor %}
        </div>

        <div class="questionHelp">
            <p>❓</p>
        </div>
    </div>
{% endblock %}
