{% extends 'base.html.twig' %}

{% block body %}
<style>
    .noRight {
        text-align:center;
        font-family: var(--logo-font);
        font-size: 2em;
    }
</style>
<div class="noRight">
    <h1>Higher level required to access this part.<h1>
</div>
{% endblock %}